/*
** CSS Utility function 
*/
/* Media Query Mixin*/
/*
** The Box sizing to Border box will add border and padding of a element adds into the width of a element
*/
*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  background-color: rgba(0, 0, 128, 0.14);
  font-size: 1em;
  font-family: "Lato", sans-serif;
  color: #000080; }

.sectionContent {
  border: 1px solid #138808;
  padding: 0.5em;
  border-radius: 15px;
  -moz-border-radius: 15px; }

header.buyindiantoys__header {
  display: grid; }
  header.buyindiantoys__header h1 {
    font-size: 1em;
    text-transform: uppercase;
    color: #FFFFFF;
    font-weight: bold;
    text-align: center;
    background-color: #FF9933; }
  header.buyindiantoys__header .header--activities {
    display: flex;
    background-color: #FFFFFF; }
    header.buyindiantoys__header .header--activities figure {
      flex: 0 1 30%; }
      header.buyindiantoys__header .header--activities figure img {
        height: 2.1rem;
        vertical-align: middle;
        margin-left: 2rem; }
    header.buyindiantoys__header .header--activities .header--search {
      flex: 0 1 45%; }
      header.buyindiantoys__header .header--activities .header--search input {
        width: 80%;
        height: 1.8rem;
        margin: 2px 0 0; }
    header.buyindiantoys__header .header--activities .header--userProfile {
      flex: 0 1 10%; }
    header.buyindiantoys__header .header--activities .header--cart {
      flex: 0 1 15%; }
  header.buyindiantoys__header section.categories {
    display: flex;
    padding: 5px;
    background-color: #138808;
    color: #FFFFFF; }
    @media (max-width: 599px) {
      header.buyindiantoys__header section.categories {
        display: none; } }
    header.buyindiantoys__header section.categories ul {
      display: flex;
      flex: 0 1 70%;
      font-size: .8rem; }
      header.buyindiantoys__header section.categories ul .category--item {
        flex: 0 1 17%;
        list-style: none;
        text-align: center;
        cursor: pointer;
        padding: 2px 0 0; }
    header.buyindiantoys__header section.categories .browseCollection {
      flex: 0 1 30%;
      text-transform: uppercase;
      cursor: pointer;
      text-align: center; }

#mainSlideContainer {
  display: flex; }
  #mainSlideContainer .slide-container {
    display: flex;
    flex: 0 1 100%;
    width: 1560px; }
    #mainSlideContainer .slide-container img {
      max-width: 100%;
      max-height: 100%; }

main {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 25px 15px; }
  @media (min-width: 1380px) {
    main {
      grid-template-columns: 1fr 1fr 1fr 1fr; } }
  @media (max-width: 599px) {
    main {
      grid-gap: 10px;
      grid-template-columns: 1fr;
      padding: 10px 5px; } }
  main h2 {
    font-size: 1.3rem;
    text-transform: uppercase; }
  main .display-4--boxs {
    padding: 15px;
    background-color: #FFFFFF;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.099); }
    main .display-4--boxs .boxs-4 {
      display: grid;
      grid-gap: 2px;
      grid-template-columns: 1fr 1fr; }
      main .display-4--boxs .boxs-4 div.display-box {
        margin: 5px; }
        main .display-4--boxs .boxs-4 div.display-box figure img {
          max-width: 100%;
          vertical-align: middle; }
        main .display-4--boxs .boxs-4 div.display-box figure .caption {
          text-align: center; }

footer {
  display: flex;
  background-color: #138808;
  padding: 35px;
  color: #FFFFFF;
  font-size: .8rem;
  /*
  	Media query for screens above 1280 width
  */ }
  footer a {
    color: #FFFFFF;
    text-decoration: none; }
  footer ul li {
    list-style: none; }
  footer h2 {
    background-color: #FF9933;
    padding: 5px 5px 5px 30px;
    position: relative;
    text-transform: uppercase;
    font-size: 1rem;
    margin-bottom: 15px;
    border-radius: 15px; }
    @media (min-width: 1024px) {
      footer h2 {
        width: 80%; } }
    @media (min-width: 1200px) {
      footer h2 {
        width: 70%; } }
    @media (min-width: 1380px) {
      footer h2 {
        width: 60%; } }
    @media (min-width: 1800px) {
      footer h2 {
        width: 60%; } }
    footer h2.isMobile__content {
      display: none; }
  footer .footer-shop--collection {
    flex: 0 1 50%;
    border-right: 1px solid #FFFFFF; }
    footer .footer-shop--collection h2:before {
      content: "";
      position: absolute;
      left: 3px;
      top: 4px;
      background-color: #FFFFFF;
      width: 20px;
      height: 20px;
      border-radius: 15px; }
    footer .footer-shop--collection h2:after {
      content: "i";
      color: #FF9933;
      position: absolute;
      left: 11px;
      text-transform: none; }
  footer .footer-contactInfo {
    flex: 0 1 25%;
    margin-left: 25px; }
    footer .footer-contactInfo h2:before {
      content: "";
      position: absolute;
      left: 3px;
      top: 4px;
      background-color: #FFFFFF;
      width: 20px;
      height: 20px;
      border-radius: 15px; }
    footer .footer-contactInfo h2:after {
      content: "i";
      color: #FF9933;
      position: absolute;
      left: 11px;
      text-transform: none; }
  footer .footer-info {
    flex: 0 1 25%; }
    footer .footer-info h2:before {
      content: "";
      position: absolute;
      left: 3px;
      top: 4px;
      background-color: #FFFFFF;
      width: 20px;
      height: 20px;
      border-radius: 15px; }
    footer .footer-info h2:after {
      content: "i";
      color: #FF9933;
      position: absolute;
      left: 11px;
      text-transform: none; }
  @media (max-width: 599px) {
    footer {
      display: grid;
      grid-gap: 5px;
      grid-template-columns: 1.1fr 1.1fr 0.8fr;
      padding: 15px 0 0; }
      footer div:first-child {
        border-right: 1px solid #FFFFFF; }
      footer div:nth-child(3) {
        border-left: 1px solid #FFFFFF; }
      footer h2 {
        width: 100%;
        padding: 0 5px;
        border-radius: 0;
        font-size: .8rem;
        background-color: transparent;
        color: #FF9933;
        margin-bottom: 5px; }
        footer h2:before, footer h2:after {
          display: none; }
        footer h2.isDesktop__content {
          display: none; }
        footer h2.isMobile__content {
          display: block; }
      footer .footer-shop--collection {
        border-right: 0; }
        footer .footer-shop--collection ul {
          padding-left: 5px; }
      footer .footer-contactInfo {
        margin-left: 0; }
        footer .footer-contactInfo h2 {
          padding: 0; }
      footer .footer-info ul {
        padding-left: 5px; }
      footer .footer__payment {
        grid-column: 1 / span 4;
        margin: 5px auto 0; } }

.section__copyright {
  padding: 10px 0;
  background-color: #0D1136;
  color: #FFFFFF;
  text-align: center; }
  .section__copyright span {
    font-weight: bold; }

/*# sourceMappingURL=index.css.map */
