<!doctype html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="../styles/css/index.css">
	</head>
	<body>
		<header>
			<h1>100% Made in India</h1>
			<div class="header--activities">
				<figure><img src="logo.png" alt="Buy Indian Toys" title="Buy Indian Toys" /></figure>
				<div class="header--search">
					<input class="header--search__searchItems" type="text" name="search" placeholder="Search"/>
				</div>
				<div class="header--userProfile"></div>
				<div class="header--cart"></div>
			</div>
		</header>
		<section class="categories">
			<ul>
				<li class="category--item">Cat 1</li>
				<li class="category--item">Cat 1</li>
				<li class="category--item">Cat 1</li>
				<li class="category--item">Cat 1</li>
				<li class="category--item">Cat 1</li>
			</ul>
		</section>
	</body>
</html>