<!doctype html>
<html>
	<head>
		<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/fontawesome.css" integrity="sha384-eHoocPgXsiuZh+Yy6+7DsKAerLXyJmu2Hadh4QYyt+8v86geixVYwFqUvMU8X90l" crossorigin="anonymous"/>
		<link rel="stylesheet" type="text/css" href="../styles/css/index.css">
	</head>
	<body>
		<header>
			<h1>100% Made in India</h1>
			<div class="header--activities">
				<figure>
					<img src="../images/buyindiantoys_logo.png" alt="Buy Indian Toys" title="Buy Indian Toys" />
				</figure>
				<div class="header--search">
					<input class="header--search__searchItems" type="text" name="search" placeholder="Search"/>
				</div>
				<div class="header--userProfile"><i class="fa fa-user fa-2" aria-hidden="true"></i></div>
				<div class="header--cart"></div>
			</div>
			<section class="categories">
				<ul>
					<li class="category--item">Educational Toys 1</li>
					<li class="category--item">Educational Toys 1</li>
					<li class="category--item">Educational Toys 1</li>
					<li class="category--item">Educational Toys 1</li>
					<li class="category--item">Educational Toys 1</li>
					<li class="category--item">Educational Toys 1</li>
					<li class="category--item">Educational Toys 1</li>
				</ul>
				<div class="browseCollection">Browse Collection</div>
			</section>
		</header>
		<div id="mainSlideContainer">
			<div class="slide-container">
				<img src="../images/bg1.jpg" alt="Banner Image">
			</div>
		</div>
		<main>
			<section class="display-4--boxs">
				<h2>Product Type</h2>
				<div class="boxs-4">
					<div class="display-box">
						<figure>
							<img src="https://d39ojdh7q8x9sh.cloudfront.net/fit-in/350x350/data/buyindiantoys/images/products/pg4PnaLz_1.jpg">
						</figure>
						<div class="caption">Image Caption</div>
					</div>
					<div class="display-box">
						<figure>
							<img src="https://d39ojdh7q8x9sh.cloudfront.net/fit-in/350x350/data/buyindiantoys/images/products/pg4PnaLz_1.jpg">
						</figure>
						<div class="caption">Image Caption</div>
					</div>
					<div class="display-box">
						<figure>
							<img src="https://d39ojdh7q8x9sh.cloudfront.net/fit-in/350x350/data/buyindiantoys/images/products/pg4PnaLz_1.jpg">
						</figure>
						<div class="caption">Image Caption</div>
					</div>
					<div class="display-box">
						<figure>
							<img src="https://d39ojdh7q8x9sh.cloudfront.net/fit-in/350x350/data/buyindiantoys/images/products/pg4PnaLz_1.jpg">
						</figure>
						<div class="caption">Image Caption</div>
					</div>
				</div>
			</section>
			<section class="display-4--boxs">
				<h2>Product Type</h2>
				<div class="boxs-4">
					<div class="display-box">
						<figure>
							<img src="https://d39ojdh7q8x9sh.cloudfront.net/fit-in/350x350/data/buyindiantoys/images/products/pg4PnaLz_1.jpg">
						</figure>
						<div class="caption">Image Caption</div>
					</div>
					<div class="display-box">
						<figure>
							<img src="https://d39ojdh7q8x9sh.cloudfront.net/fit-in/350x350/data/buyindiantoys/images/products/pg4PnaLz_1.jpg">
						</figure>
						<div class="caption">Image Caption</div>
					</div>
					<div class="display-box">
						<figure>
							<img src="https://d39ojdh7q8x9sh.cloudfront.net/fit-in/350x350/data/buyindiantoys/images/products/pg4PnaLz_1.jpg">
						</figure>
						<div class="caption">Image Caption</div>
					</div>
					<div class="display-box">
						<figure>
							<img src="https://d39ojdh7q8x9sh.cloudfront.net/fit-in/350x350/data/buyindiantoys/images/products/pg4PnaLz_1.jpg">
						</figure>
						<div class="caption">Image Caption</div>
					</div>
				</div>
			</section>
			<section class="display-4--boxs">
				<h2>Product Type</h2>
				<div class="boxs-4">
					<div class="display-box">
						<figure>
							<img src="https://d39ojdh7q8x9sh.cloudfront.net/fit-in/350x350/data/buyindiantoys/images/products/pg4PnaLz_1.jpg">
						</figure>
						<div class="caption">Image Caption</div>
					</div>
					<div class="display-box">
						<figure>
							<img src="https://d39ojdh7q8x9sh.cloudfront.net/fit-in/350x350/data/buyindiantoys/images/products/pg4PnaLz_1.jpg">
						</figure>
						<div class="caption">Image Caption</div>
					</div>
					<div class="display-box">
						<figure>
							<img src="https://d39ojdh7q8x9sh.cloudfront.net/fit-in/350x350/data/buyindiantoys/images/products/pg4PnaLz_1.jpg">
						</figure>
						<div class="caption">Image Caption</div>
					</div>
					<div class="display-box">
						<figure>
							<img src="https://d39ojdh7q8x9sh.cloudfront.net/fit-in/350x350/data/buyindiantoys/images/products/pg4PnaLz_1.jpg">
						</figure>
						<div class="caption">Image Caption</div>
					</div>
				</div>
			</section>
			<section class="display-4--boxs">
				<h2>Product Type</h2>
				<div class="boxs-4">
					<div class="display-box">
						<figure>
							<img src="https://d39ojdh7q8x9sh.cloudfront.net/fit-in/350x350/data/buyindiantoys/images/products/pg4PnaLz_1.jpg">
						</figure>
						<div class="caption">Image Caption</div>
					</div>
					<div class="display-box">
						<figure>
							<img src="https://d39ojdh7q8x9sh.cloudfront.net/fit-in/350x350/data/buyindiantoys/images/products/pg4PnaLz_1.jpg">
						</figure>
						<div class="caption">Image Caption</div>
					</div>
					<div class="display-box">
						<figure>
							<img src="https://d39ojdh7q8x9sh.cloudfront.net/fit-in/350x350/data/buyindiantoys/images/products/pg4PnaLz_1.jpg">
						</figure>
						<div class="caption">Image Caption</div>
					</div>
					<div class="display-box">
						<figure>
							<img src="https://d39ojdh7q8x9sh.cloudfront.net/fit-in/350x350/data/buyindiantoys/images/products/pg4PnaLz_1.jpg">
						</figure>
						<div class="caption">Image Caption</div>
					</div>
				</div>
			</section>
			<section class="display-4--boxs">
				<h2>Product Type</h2>
				<div class="boxs-4">
					<div class="display-box">
						<figure>
							<img src="https://d39ojdh7q8x9sh.cloudfront.net/fit-in/350x350/data/buyindiantoys/images/products/pg4PnaLz_1.jpg">
						</figure>
						<div class="caption">Image Caption</div>
					</div>
					<div class="display-box">
						<figure>
							<img src="https://d39ojdh7q8x9sh.cloudfront.net/fit-in/350x350/data/buyindiantoys/images/products/pg4PnaLz_1.jpg">
						</figure>
						<div class="caption">Image Caption</div>
					</div>
					<div class="display-box">
						<figure>
							<img src="https://d39ojdh7q8x9sh.cloudfront.net/fit-in/350x350/data/buyindiantoys/images/products/pg4PnaLz_1.jpg">
						</figure>
						<div class="caption">Image Caption</div>
					</div>
					<div class="display-box">
						<figure>
							<img src="https://d39ojdh7q8x9sh.cloudfront.net/fit-in/350x350/data/buyindiantoys/images/products/pg4PnaLz_1.jpg">
						</figure>
						<div class="caption">Image Caption</div>
					</div>
				</div>
			</section>
			<section class="display-4--boxs">
				<h2>Product Type</h2>
				<div class="boxs-4">
					<div class="display-box">
						<figure>
							<img src="https://d39ojdh7q8x9sh.cloudfront.net/fit-in/350x350/data/buyindiantoys/images/products/pg4PnaLz_1.jpg">
						</figure>
						<div class="caption">Image Caption</div>
					</div>
					<div class="display-box">
						<figure>
							<img src="https://d39ojdh7q8x9sh.cloudfront.net/fit-in/350x350/data/buyindiantoys/images/products/pg4PnaLz_1.jpg">
						</figure>
						<div class="caption">Image Caption</div>
					</div>
					<div class="display-box">
						<figure>
							<img src="https://d39ojdh7q8x9sh.cloudfront.net/fit-in/350x350/data/buyindiantoys/images/products/pg4PnaLz_1.jpg">
						</figure>
						<div class="caption">Image Caption</div>
					</div>
					<div class="display-box">
						<figure>
							<img src="https://d39ojdh7q8x9sh.cloudfront.net/fit-in/350x350/data/buyindiantoys/images/products/pg4PnaLz_1.jpg">
						</figure>
						<div class="caption">Image Caption</div>
					</div>
				</div>
			</section>
			<section class="display-4--boxs">
				<h2>Product Type</h2>
				<div class="boxs-4">
					<div class="display-box">
						<figure>
							<img src="https://d39ojdh7q8x9sh.cloudfront.net/fit-in/350x350/data/buyindiantoys/images/products/pg4PnaLz_1.jpg">
						</figure>
						<div class="caption">Image Caption</div>
					</div>
					<div class="display-box">
						<figure>
							<img src="https://d39ojdh7q8x9sh.cloudfront.net/fit-in/350x350/data/buyindiantoys/images/products/pg4PnaLz_1.jpg">
						</figure>
						<div class="caption">Image Caption</div>
					</div>
					<div class="display-box">
						<figure>
							<img src="https://d39ojdh7q8x9sh.cloudfront.net/fit-in/350x350/data/buyindiantoys/images/products/pg4PnaLz_1.jpg">
						</figure>
						<div class="caption">Image Caption</div>
					</div>
					<div class="display-box">
						<figure>
							<img src="https://d39ojdh7q8x9sh.cloudfront.net/fit-in/350x350/data/buyindiantoys/images/products/pg4PnaLz_1.jpg">
						</figure>
						<div class="caption">Image Caption</div>
					</div>
				</div>
			</section>
			<section class="display-4--boxs">
				<h2>Product Type</h2>
				<div class="boxs-4">
					<div class="display-box">
						<figure>
							<img src="https://d39ojdh7q8x9sh.cloudfront.net/fit-in/350x350/data/buyindiantoys/images/products/pg4PnaLz_1.jpg">
						</figure>
						<div class="caption">Image Caption</div>
					</div>
					<div class="display-box">
						<figure>
							<img src="https://d39ojdh7q8x9sh.cloudfront.net/fit-in/350x350/data/buyindiantoys/images/products/pg4PnaLz_1.jpg">
						</figure>
						<div class="caption">Image Caption</div>
					</div>
					<div class="display-box">
						<figure>
							<img src="https://d39ojdh7q8x9sh.cloudfront.net/fit-in/350x350/data/buyindiantoys/images/products/pg4PnaLz_1.jpg">
						</figure>
						<div class="caption">Image Caption</div>
					</div>
					<div class="display-box">
						<figure>
							<img src="https://d39ojdh7q8x9sh.cloudfront.net/fit-in/350x350/data/buyindiantoys/images/products/pg4PnaLz_1.jpg">
						</figure>
						<div class="caption">Image Caption</div>
					</div>
				</div>
			</section>
		</main>
		<footer>
			<div class="footer-shop--collection">
				<h2>Shop From Our Exclusive Collections</h2>
				<ul>
					<li>
						<a href="#">> Traditional Toys</a>
					</li>
					<li>
						<a href="#">> Educational Toys</a>
					</li>
				</ul>
			</div>
			<div class="footer-contactInfo">
				<h2>Contact Us</h2>
				<ul>
					<li>Muskaan Impex</li>
					<li>Muskaan</li>
					<li>Muskaan</li>
					<li>Muskaan</li>
					<li>Muskaan</li>
					<li>Muskaan</li>
				</ul>
			</div>
			<div class="footer-info">
				<h2>Information</h2>
				<ul>
					<li>> Privacy Policy</li>
					<li>> Terms of Use</li>
				</ul>
			</div>
		</footer>
	</body>
</html>